<%- include head %>
<form class="ui form" @submit.prevent="save">
    <div class="ui middle grid">
         <div class=" twelve wide column">
            <div class="content">
                <h2>文章列表</h2>
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th>title</th>
                            <th>category</th>
                            <th>update_at</th>
                            <th>action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (article of articles){ %>
                        <tr>
                            <td><a href=<%= `/admin/article/${article._id}` %>><%= article.title %></a></td>
                            <td><%= article.category %></td>
                            <td><%= U.moment(article.update_at).format('YYYY-MM-DD, h:mm:ss') %></td>
                            <td>
                                <a href=<%= `/admin/article/${article._id}/del` %> 
                                    class="ui right floated small red labeled icon button" 
                                    @click="delItem($index)">
                                    <i class="remove icon"></i> Del
                                </a>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="4">
                                <a href="/admin/add-article" class="ui right floated small primary labeled icon button" @click="addItem">
                                    <i class="plus icon"></i> Add
                                </a>
                            </th>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
        <div class="four wide column">
            <div class="content">
                <div class="field">
                    <label>类别</label>
                    <select class="ui search dropdown" v-model='category' name="category">
                        <option value="">All</option>
                        <option v-for='cat in CATEGORIES' value="{{cat}}">{{cat}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>

<script src='/static/dist/admin.bundle.js'></script>
<%- include foot %>